# template for twig.yml
form_themes:
    - '@DonfelicePolygonFieldType/ezadminui/field/edit/ezpolygon.html.twig'
globals:
    mapbox_key: <YOUR_MAPBOX_KEY>
    mapbox_lat: <YOUR_MAPBOX_START_LOCATION_LATITUDE>
    mapbox_long: <YOUR_MAPBOX_START_LOCATION_LONGITUDE>
